*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #737373;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 500px;
    height: 550px;
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px 5px 150px 5px;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    display: flex;
    flex-direction: column;
    color: #737373;
}
.inputs input{
    width:50%;
    padding: 8px;
}
.buttons{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.buttons button{
    cursor: pointer;
    padding: 10px 15px;
    background: #ecc919;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.answers{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
b{
    font-size: 30px;
    margin: 0 20px 0 0;
    color: blue;
}
.answers span{
    font-size: 60px;
    font-weight: bold;
}